@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');

* {
  font-family: 'JetBrains Mono', monospace;
}

body {
  background-color: #000;
}

.App {
  display: flex;
  font-size: 80px;
  color: white;
  font-weight: 100;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
